body {
  background-color: #f8f8f8;
}
.shezhi {
  position: relative;
  max-width: 7.5rem;
  width: 100%;
  margin: 0 auto;
}
.shezhi .header {
  width: 100%;
  height: 2.46rem;
  background-color: #ff6e4f;
  position: relative;
}
.shezhi .header .top {
  color: #fff;
  font-size: .36rem;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
}
.shezhi .header .top .back-icon {
  width: .21rem;
  height: .36rem;
  position: absolute;
  left: 4%;
  top: .24rem;
}
.shezhi .header .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 4%;
}
.shezhi .header .bottom .left {
  width: 1.24rem;
  height: 1.24rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url("../img/h.png") no-repeat center;
  background-color: #fff;
  background-size: .77rem .74rem;
}
.shezhi .header .bottom .right {
  color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  margin-left: 3.2%;
}
.shezhi .header .bottom .right h2 {
  font-size: .34rem;
}
.shezhi .header .bottom .right .item {
  width: 2.8rem;
  height: 0.4rem;
  margin-top: .16rem;
}
.shezhi .main {
  margin-top: .2rem;
}
.shezhi .main .list {
  padding: 0 4%;
  background-color: #fff;
  width: 100%;
  height: .92rem;
  color: #666;
  font-size: .3rem;
}
.shezhi .main .list .padding-list {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  height: .92rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}
.shezhi .main .list .padding-list .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #666;
  font-size: .24rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  white-space: nowrap;
}
.shezhi .main .list .padding-list .right .icon {
  width: .19rem;
  height: .36rem;
  display: inline-block;
}
.shezhi .main .list .padding-list .right .ml {
  margin-left: .18rem;
}
.shezhi .main .margin-list {
  margin-top: .16rem;
}
.shezhi .main .warp {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 1.7rem;
  padding-bottom: .68rem;
}
.shezhi .main .warp .kefu {
  width: 3.72rem;
  height: 1.26rem;
}
.shezhi .footer {
  width: 100%;
  height: .96rem;
  background-color: #ff524e;
}
.shezhi .footer button {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: .36rem;
}
.shezhi .cunguan {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 4.16rem 14.13333333% 1.62rem;
  display: none;
}
.shezhi .cunguan .box {
  width: 5.42rem;
  height: 3.44rem;
  background-color: #fff;
  -webkit-border-radius: .16rem;
          border-radius: .16rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #b6b6b6;
}
.shezhi .cunguan .box .top {
  width: .79rem;
  height: .89rem;
  -webkit-align-self: center;
          align-self: center;
  margin-top: .44rem;
}
.shezhi .cunguan .box .zh {
  font-size: .3rem;
  color: #666;
  margin-top: .36rem;
}
.shezhi .cunguan .box .click {
  font-size: .36rem;
  color: #ff524f;
  margin-top: .54rem;
}
.shezhi .cunguan .box .close-icon {
  position: absolute;
  width: .31rem;
  height: .31rem;
  top: .27rem;
  right: .27rem;
}
.shezhi .cunguan .box2 {
  margin-top: .71rem;
}
.shezhi .cv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.92rem 14.13333333% 1.1rem;
  display: none;
}
.shezhi .cv .box {
  width: 5.42rem;
  height: 3.44rem;
  background-color: #fff;
  -webkit-border-radius: .16rem;
          border-radius: .16rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #b6b6b6;
}
.shezhi .cv .box .top {
  width: .79rem;
  height: .89rem;
  -webkit-align-self: center;
          align-self: center;
  margin-top: .44rem;
}
.shezhi .cv .box .zh {
  font-size: .3rem;
  color: #666;
  margin-top: .36rem;
}
.shezhi .cv .box .click {
  font-size: .36rem;
  color: #ff524f;
  margin-top: .54rem;
}
.shezhi .cv .box .close-icon {
  position: absolute;
  width: .31rem;
  height: .31rem;
  top: .27rem;
  right: .27rem;
}
.shezhi .cv .box2 {
  margin-top: .49rem;
}
.shezhi .bangka {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 4.16rem 14.13333333% 1.62rem;
  display: none;
}
.shezhi .bangka .box {
  width: 5.4rem;
  height: 3.04rem;
  -webkit-border-radius: .16rem;
          border-radius: .16rem;
  border-bottom: 1px solid #b6b6b6;
  background-color: #fff;
  position: relative;
}
.shezhi .bangka .box .top {
  width: 100%;
  height: 1.3rem;
  background: url("../img/bgcolor.png") no-repeat;
  background-size: 100% 100%;
  font-size: .42rem;
  color: #fff;
  text-align: center;
  line-height: 1.3rem;
}
.shezhi .bangka .box .bottom {
  text-align: center;
}
.shezhi .bangka .box .bottom p {
  font-size: .3rem;
  color: #333;
  margin-top: .44rem;
}
.shezhi .bangka .box .bottom .font {
  width: 3.05rem;
  height: .22rem;
  margin: .22rem auto 0;
  display: block;
}
.shezhi .bangka .close-icon {
  position: absolute;
  width: .31rem;
  height: .31rem;
  top: .29rem;
  right: .31rem;
}
.shezhi .loading {
  width: 100%;
  position: absolute;
  background-color: #f8f8f8;
  left: 0;
  top: 0;
  display: none;
}
.shezhi .loading .header {
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
  font-size: .36rem;
  color: #333;
  text-align: center;
  height: .84rem;
  line-height: .84rem;
}
.shezhi .loading .header .back-icon {
  width: .21rem;
  height: .36rem;
  position: absolute;
  left: 4%;
  top: .24rem;
}
.shezhi .loading .warp {
  padding-top: 2.9rem;
  padding-bottom: 6.8rem;
  width: 100%;
  height: 100%;
}
.shezhi .loading .warp .box {
  width: 2.85rem;
  height: 2.60rem;
  margin: 0 auto;
}
